<h1>ExamDB Data</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Module</th>
        <th>Exam</th>
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Rules</th>
    </tr>
    <% for(var i = 0; i < data.length; i++) { %>
        <tr>
            <td><%= data[i].id %></td>
            <td><%= data[i].module_name %></td>
            <td><%= data[i].exam_name %></td>
            <td><%= data[i].exam_date %></td>
            <td><%= data[i].start_time %></td>
            <td><%= data[i].end_time %></td>
            <td><%= data[i].rules %></td>
        </tr>
    <% } %>
</table>
